%h1= 'Films'
#hidden
  - @films.each do |film|
    - poster = film.images.posters.first
    .item{style: container_dimensions(poster), id: film.id}
      .item-content{style: container_dimensions(poster)}
        .item-image
          = image_tag poster.poster.resized
        .item-description
          .film-description
            .title= film.title
            = truncate film.description, length: 550, separator: ' ', omission: '... (more)'
          .film-showtimes
            .film-showtimes-index
              .title= 'Playing at'
              %ul
                - film.theaters.each do |theater|
                  %li
                    = link_to theater.name, theater, class: 'theater-name'
#container
