%h1= 'Films'
.btn-group#sort-by
  %a{href: '#shuffle', class: 'btn btn-small btn-inverse'}= 'shuffle'
  %a{href: '#title', class: 'btn btn-small btn-inverse'}= 'alphabetical'
  %a{href: '#original-order', class: 'btn btn-small btn-inverse'}= 'original'
.btn-group#filter-by
  %a{href: '#', 'data-filter' => '*', class: 'btn btn-small btn-inverse'}= 'all'
  %a{href: '#', 'data-filter' => '.ifc', class: 'btn btn-small btn-inverse'}= 'ifc'
  %a{href: '#', 'data-filter' => '.nitehawk', class: 'btn btn-small btn-inverse'}= 'nitehawk'
  %a{href: '#', 'data-filter' => '.angelika', class: 'btn btn-small btn-inverse'}= 'angelika'
  %a{href: '#', 'data-filter' => '.village_east', class: 'btn btn-small btn-inverse'}= 'village_east'
#hidden
  - @films.each do |film|
    - poster = film.images.posters.first
    .item{style: container_dimensions(poster), class: theater_classes(film), id: film.id}
      .item-content{style: container_dimensions(poster)}
        .item-image
          = image_tag poster.poster.resized
        .item-description
          .film-description
            .film-title= film.title
            = truncate film.description, length: 550, separator: ' ', omission: '... (more)'
          .film-showtimes
            .film-showtimes-index
              .title= 'Playing at'
              %ul
                - film.theaters.each do |theater|
                  %li
                    = link_to theater.name, theater, class: 'theater-name'
#container
