!!!
%html
  %head
    %title Independent Film New York
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.navbar_fix
    = render 'layouts/header'
    .container
      .row
        .span12
          = yield
